In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-09-22 22:28:27,3.0707,172.7902,82.72,67,97,15.19
1,1,Mehamn,NO,2021-09-22 22:28:27,71.0357,27.8492,47.50,83,100,23.98
2,2,Rikitea,PF,2021-09-22 22:28:28,-23.1203,-134.9692,73.47,75,38,19.53
3,3,Kachug,RU,2021-09-22 22:28:28,53.9606,105.8817,34.20,93,63,2.68
4,4,Hambantota,LK,2021-09-22 22:28:28,6.1241,81.1185,79.99,83,40,14.67

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = ["Lat", "Lng"]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-09-22 22:28:27,3.0707,172.7902,82.72,67,97,15.19
4,4,Hambantota,LK,2021-09-22 22:28:28,6.1241,81.1185,79.99,83,40,14.67
6,6,Albany,US,2021-09-22 22:26:18,42.6001,-73.9662,76.64,78,88,11.10
12,12,Umm Kaddadah,SD,2021-09-22 22:28:31,13.6017,26.6876,88.39,39,9,10.02
13,13,Sao Filipe,CV,2021-09-22 22:28:31,14.8961,-24.4956,79.14,81,22,6.51
15,15,Coro,VE,2021-09-22 22:28:32,11.4045,-69.6734,85.66,72,100,17.76
18,18,Vaini,TO,2021-09-22 22:28:33,-21.2000,-175.2000,77.16,83,40,10.36
19,19,Camocim,BR,2021-09-22 22:28:34,-2.9022,-40.8411,79.72,79,99,16.49
27,27,Hilo,US,2021-09-22 22:24:53,19.7297,-155.0900,81.81,67,75,5.75
29,29,La Grande,US,2021-09-22 22:28:36,45.3246,-118.0877,75.51,33,95,12.86

In [12]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Butaritari      KI     82.72   3.0707  172.7902
4     Hambantota      LK     79.99   6.1241   81.1185
6         Albany      US     76.64  42.6001  -73.9662
12  Umm Kaddadah      SD     88.39  13.6017   26.6876
13    Sao Filipe      CV     79.14  14.8961  -24.4956
15          Coro      VE     85.66  11.4045  -69.6734
18         Vaini      TO     77.16 -21.2000 -175.2000
19       Camocim      BR     79.72  -2.9022  -40.8411
27          Hilo      US     81.81  19.7297 -155.0900
29     La Grande      US     75.51  45.3246 -118.0877

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,82.72,3.0707,172.7902,Isles Sunset Lodge
4,Hambantota,LK,79.99,6.1241,81.1185,Bungalow 63
6,Albany,US,76.64,42.6001,-73.9662,
12,Umm Kaddadah,SD,88.39,13.6017,26.6876,
13,Sao Filipe,CV,79.14,14.8961,-24.4956,Hotel Xaguate
15,Coro,VE,85.66,11.4045,-69.6734,Federal
18,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
19,Camocim,BR,79.72,-2.9022,-40.8411,Hotel Ilha do Amor
27,Hilo,US,81.81,19.7297,-155.0900,Hilo Hawaiian Hotel
29,La Grande,US,75.51,45.3246,-118.0877,Travelodge by Wyndham La Grande

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))