In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-09-22 22:28:27,3.0707,172.7902,82.72,67,97,15.19
1,1,Mehamn,NO,2021-09-22 22:28:27,71.0357,27.8492,47.50,83,100,23.98
2,2,Rikitea,PF,2021-09-22 22:28:28,-23.1203,-134.9692,73.47,75,38,19.53
3,3,Kachug,RU,2021-09-22 22:28:28,53.9606,105.8817,34.20,93,63,2.68
4,4,Hambantota,LK,2021-09-22 22:28:28,6.1241,81.1185,79.99,83,40,14.67

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = ["Lat", "Lng"]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))